* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 8px;
    margin-top: 16px;
    text-align: center;
    margin-top: 2px;
}

section {
    padding: 48px 0;
    text-align: center;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: rgb(39, 136, 211);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
    margin-left: 620px;
}


.form-campo {
    margin-bottom: 16px;
}*

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input, {
    width: 100%;
    display: block;
    padding: 8px;
}

form {
    max-width: 1360px;
}

form button {
    max-width: 120px;
}
